header {
text-align: center;
padding-top: 20px;
padding-bottom: 30px;
border: 5px black;
border-bottom-style:solid;
}

h1 {
    font-family: "New Tegomin";
}

#directions {
    font-family: "New Tegomin";padding-top: 20px;
}

li {
    display: inline-block;
    overflow: hidden;
    
}
.orbit {
    max-height: max-content;
    
}

.orbit-image {
    margin: -270px 0 -150px 0;
    width: 100%;
}

.bullet {
    padding-right: 20px;
    padding-bottom: 25px;
    padding-top: 5px;
    font-family: "New Tegomin";
    text-align: center;
}
#searchbox{
    margin-top: 25px;
}

/* future forcast design */
.day-forecast {
    padding: 8px;
    padding-top: 12px;
    border-radius: 4px;
    color: black;
    margin-right: 20px;
    line-height: 3;
    border: 3px solid black;
}

.day-forecast h4 {
    font-size: 20px;
}
.day-forecast div {
    font-size: 16px;
}
.day-forecast div i {
    font-size: 35px;
}

.title {
    padding: 30px 0 0 30px;
}

.sub-title{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
}

.w-card {
    border-width: 1px;
    background-color: rgba(134, 134, 134, 0.493)
}

.yelp-card {
    background-color: rgba(252, 0, 0, 0.493);
}

.rounded {
    border-radius: 15px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    li {
        display: none;
        overflow: none;
        
    }
    .orbit {
        max-height: none;
        
    }
    
    .orbit-image {
        margin: none;
        width: 100%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
