header {
text-align: center;
padding-top: 20px;
padding-bottom: 30px;
border: 5px black;
border-bottom-style:solid;
}

h1 {
    font-family: "New Tegomin";
}

#directions {
    font-family: "New Tegomin";padding-top: 20px;
}

#searches{
padding-top: 5px;
padding-bottom: 30px;
}

li {
    display: inline-block;
    overflow: hidden;
    
}
.orbit {
    max-height: max-content;
    
}

.orbit-image {
    margin: -270px 0 -150px 0;
    width: 100%;
}